<% if current_user.nil? %>
    <h2>Login</h2>
    <h4 type="button" data-toggle="popover" title="Title" data-content="Content goes here">Please enter your TVDB account ID</h4>
    <div class="input-group login-form">
      <input type="text" class="form-control"/>
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Login</button>
      </span>
    </div>
<% else %>
    <h2>Welcome Back!</h2>
    <p>You currently have <strong><%= current_user.series.count %></strong>
      favorite series with
      <strong><%= current_user.episodes.upcoming.count %></strong>
      upcoming episodes.</p>
    <p>Your series list was last updated <strong>yesterday</strong>, but you can <a href="#">refresh it</a> now.</p>
    <h2>iCalendar</h2>
    <p>Your personalized
      <a href="<%= ical_path uid: current_user.uuid %>">iCal feed</a>
        can be added to Google Calendar as a subscribed calendar, or you
        can download and import it into the calendar app of your choice.</p>
    <p>
      Show me episodes from <select id="ical_start_offset"><%= ical_start_offset %></select>
      until <select id="ical_end_offset"><%= ical_end_offset %></select>.
    </p>
<% end %>